/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

body.connected {
  margin-top: 79px;
}

.bandeaux-black {
  display: flex;
  height: 59px;
  background: black;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;

  align-items: center;
  color: #fff;
  gap: 21px;
}
.bandeaux-black > span {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.bandeaux-black > button {
  height: 38px;
  border: 0;
  border-radius: 30px;
  color: #000;
  background: #fff;
  font-size: 14px;
  padding: 11px 23px;
}

.bandeaux-black > span:before {
  content: "";
  background: url(./icons/edit.svg);
  height: 22px;
  width: 22px;
  background-size: cover;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.iconpenwhite {
  display: flex;
  align-items: center;
}
.iconpenwhite p {
  margin-left: 20px;
}
.iconpenwhite img {
  height: 28px;
  margin-left: 65px;
}
.iconpenwhite a {
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.iconpenwhiteprojets {
  display: flex;
  align-items: center;
}
.modifierprojets {
  display: flex;
  margin-bottom: 2em;
  width: 100%;
  margin-top: 5em;
}
#portfolio .modifierprojets h2 {
  width: calc(50% + 96px);
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: end;
}
.modifierprojets .modifier-liens {
  flex: 1;
  display: flex;
  align-items: center;
}
.modifierprojets .modifier-liens button {
  display: flex;
  margin: 0px 20px;
  height: 38px;
  border: 0;

  color: #000;
  background: #fff;
  font-size: 14px;
  align-items: center;
  padding: 0;
}

.modifierprojets .modifier-liens button:before {
  content: "";
  background: url(./icons/edit_black.svg);
  height: 22px;
  width: 22px;
  background-size: cover;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.iconpenwhite {
  width: 80%;
  margin: auto;
}

.iconpenwhite button {
  display: flex;
  margin: 10px 0px;
  height: 38px;
  border: 0;

  color: #000;
  background: #fff;
  font-size: 14px;
  align-items: center;
  padding: 0;
}

.iconpenwhite button:before {
  content: "";
  background: url(./icons/edit_black.svg);
  height: 22px;
  width: 22px;
  background-size: cover;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}
.contenair {
  width: 1440px;
  height: 1024px;
  background: #fffef8;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  max-width: 1440px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background: #fffef8;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
.contenair header {
  padding: 40px 100px 0px 100px;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
  margin-top: 4px;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

.btn-style {
  font-family: "Syne";
  font-weight: 700;
  color: #1d6154;
  background-color: white;

  border-radius: 60px;
  height: 37px;

  margin: 0px 5px 44px 5px;
  padding: 10px 15px;
}

.btn-style.active {
  background: #1d6154;
  color: #fff;
}

#portfolio {
  text-align: center;
  margin-bottom: 2em;
  width: 100%;
  margin-top: 110px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
li img {
  height: 19px;
}

li:hover {
  color: #070707;
  font-weight: 600;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction figure button {
  margin: 10px 10%;
  display: flex;

  height: 38px;
  border: 0;
  border-radius: 30px;
  color: #000;
  background: #fff;
  font-size: 14px;
  align-items: center;
  padding: 0;
}

#introduction figure button:before {
  content: "";
  background: url(./icons/edit_black.svg);
  height: 22px;
  width: 22px;
  background-size: cover;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 2em;
  width: 100%;
  margin-top: 5em;
}

#gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

#gallery img {
  width: 100%;
}

#contact {
  width: 50%;
  margin: auto;
}

#contact > * {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
footer {
  height: 60px;
  background: white;
  max-width: 100%;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

#connexion {
  width: 379px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 150px auto 0px auto;
  align-items: center;
}
#connexion h2 {
  margin: 20px 0px;
}
#connexion .Email p,
#connexion .mdp p {
  margin: 7px 0px;
  font-family: "Work Sans";
  font-weight: 500;
}
#connexion input {
  width: 100%;
  height: 51px;
  border: 0;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#connexion form {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#connexion button {
  margin: 60px 102px;
  width: 179px;
  background: #1d6154;
  border-radius: 60px;
  height: 36px;
  color: #fff;
  text-align: center;
  font-family: "syne";
}

#connexion .mdpoublier {
  text-align: center;
  text-decoration: underline;
  font-family: "Work Sans";
}
#connexion .MyErrorMessage {
  margin: 10px 0px;
  text-align: center;
  color: red;
}
#smallpage footer {
  background: white;

  margin-top: 315px;

  padding: 1px 66px 0px 0px;
}

/* Ajout de la modal */

/* Modale cachée par défaut */

.modal {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: none;
  justify-content: center;
  align-items: center;

  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* fond sombre semi-transparent */
}

/* Contenu de la modale */
.modal-content {
  background-color: #ffffff;

  padding: 20px 20px 55px 20px;
  border: 1px solid #888;

  width: 630px;

  border-radius: 10px;
}

.modalheader {
  position: relative;

  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalheader button#closeBtn {
  position: absolute;
  right: 0;
  top: 10px;
  height: 12px;
  width: 12px;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 12px;
  max-width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff url(./icons/close-icon.svg) no-repeat center/100%;
}

.modalheader button#prevBtn {
  position: absolute;
  left: 0;
  top: 10px;
  height: 14px;
  width: 21px;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 12px;
  max-width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff url(./icons/prev-icon.svg) no-repeat center/100%;
}

/* Bouton Fermer */

h2 {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

.monh2 {
  display: flex;
  justify-content: space-around;
}

#closeBtn {
  font-weight: bold;
  font-size: 12px;
  max-width: 100%;
}

#closeBtn:hover,
#closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.asidemodal.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 424px;
  margin: auto;

  grid-column-gap: 6px;
  grid-row-gap: 0px;
}
.asidemodal.image-upload {
  /*display: grid;*/
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 424px;
  margin: auto;
  display: none;
}
.asidemodal.image-upload .zone-upload {
  background: #e8f1f6;
  border-radius: 3px;
  padding: 30px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.asidemodal.image-upload .zone-upload.loaded {
  padding: 0;
}
.asidemodal.image-upload .zone-upload img {
  height: 46px;
  width: 58px;
  margin-bottom: 13px;
}
.asidemodal.image-upload .zone-upload img.loaded {
  max-width: 100%;
  width: initial;
  max-height: 169px;
  height: initial;
  margin-bottom: initial;
}
.asidemodal.image-upload .zone-upload p {
  margin: 0;
}
.asidemodal.image-upload #file {
  display: none;
}
.asidemodal.image-upload .zone-upload span {
  border-radius: 50px;
  font-size: 14px;
  border: 0;
  font-weight: bold;
  color: #306685;
  padding: 10px 33px;
  background: #cbd6dc;
  cursor: pointer;
}

.asidemodal.image-upload .zone-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 30px;
}

.asidemodal.image-upload .zone-title span {
  font-size: 14px;
  font-weight: 500;
}

.asidemodal.image-upload .zone-title input {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: 0;
  height: 51px;
  padding: 0px 10px;
}

.asidemodal.image-upload .zone-categorie {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 30px;
}

.asidemodal.image-upload .zone-categorie span {
  font-size: 14px;
  font-weight: 500;
}

.asidemodal.image-upload .zone-categorie .select-with-custom-arrow {
  position: relative;
}
.asidemodal.image-upload .zone-categorie .select-with-custom-arrow:before {
  content: "";
  position: absolute;
  right: 30px;
  width: 11px;
  height: 100%;
  display: flex;
  align-items: center;
  background: url(./icons/chevron-icone.svg) no-repeat center/100%;
}
.asidemodal.image-upload .zone-categorie .select-with-custom-arrow select {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: 0;
  height: 51px;
  padding: 0px 10px;
  appearance: none;
  width: 100%;
}

.asidemodal:after {
  content: "";
  height: 1px;
  width: 100%;
  background: #b3b3b3;
  margin: 47px 0px 32px;
}
.asidemodal.image-upload:after {
  grid-column: span 1;
}
.asidemodal.gallery:after {
  grid-column: span 5;
}

.asidemodal img {
  height: 104px;
  width: 100%;
}

.asidemodal a,
.asidemodal span {
  cursor: pointer;
  text-decoration: none;
  color: black;

  font-weight: 400;
  font-size: 12px;
}

.fotos {
  width: 80px;
  height: 142px;
}

.fotos .image-zone {
  display: flex;
  position: relative;
}

.fotos .image-zone .trash {
  display: flex;
  height: 17px;
  width: 17px;
  position: absolute;

  background: #000 url(./icons/trash-icon.svg) no-repeat center/75%;

  border-radius: 2px;

  top: 6px;
  right: 6px;
}

.fotos .image-zone .move {
  display: flex;
  position: absolute;

  background: #000 url(./icons/move-icon.svg) no-repeat center/75%;
  height: 17px;
  width: 17px;

  top: 6px;
  right: 26px;

  border-radius: 2px;
}

.modalfooter {
  display: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modalfooter .remove-gallery {
  margin-bottom: 0;
}

.modalfooter button {
  width: 237px;
  height: 36px;
  border-radius: 66px;
  background: #1d6154;
  color: white;

  border: 0;
  font-family: "syne";
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  font-size: 14px;
}

.modalfooter button:disabled {
  background-color: #a7a7a7;
  cursor: not-allowed;
}

.modalfooter p {
  color: red;
  font-size: 14px;
  font-weight: 400;
  font-family: "syne";
  margin-top: 23px;
  cursor: pointer;
}
/*livrable*/
